<%- include("partials/header"); -%>
    <main class="main-content">
        <section class="post-content">
            <h2>
                About the Career vs Job Blog
            </h2>
            <img src="/images/about.jpg" alt="no_image" width="400px" height="300px">
            <p>
                The <b>Career vs Job blog</b> is an online career resource that offers unique advice from career experts. Are you feeling stuck in your current position? Looking to venture into a completely new field of work, but don’t know how to get there? We have created this blog for you! It is for the career seekers and transitioners who want more than just a job. They want to do work that is meaningful, makes a difference, leverages their unique skills and talents, and pays well.

                Our writers are certified professionals that have experience helping individuals from all walks of life overcome obstacles and reach their career goals. Through this blog, we want to help you find your passion, land your dream job, give you the tools you need to succeed and the confidence and skills to lead a more fulfilling professional life.
            </p>
        </section>
        
    </main>

<%- include("partials/footer"); -%>