<%- include("partials/header"); -%>

<main class="post-content">
    <h2>
        A success story.
    </h2>
    <img src="/images/about.jpg" alt="no images" width="140px" height="140px">
    <p>
        <%=content %>
    </p>
</main>


<%- include("partials/footer"); -%>